
@{
    ViewBag.Title = "Inicio";
}



<!DOCTYPE html>
<html lang="es-ec">
<head>
    <style type="text/css">
        .imgclass
        {
            /*background-color:aquamarine;*/
            text-align:center;
            
        }
        .imgclass img
        {
            margin:auto;
        }
        img
        {
            display:block;
        }
    </style>
</head>
<body>
    @*<h2>Index</h2>*@
    <div class="imgclass">
        <img src="~/images/logo_IMP_2017.png" style="width:757px; height:396px; position:center" />
    </div>
        
    
</body>
</html>

@section scripts
{
    <script src="~/Scripts/jquery-2.1.1.min.js"></script>

}