
@{
    ViewBag.Title = "Reporte";
}
<!DOCTYPE html>
<html lang="es-ec">
<head>
    
</head>
<body>
    <div class="row">
        <div class="col-md-6">
            <h3>REPORTE AUXILIAR</h3>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-2">
            <input type="text" class="form-control" id="rptAuxObra" placeholder="Enter Id AuxObra">
        </div>
        <div class="col-md-2">
            <button type="button" id="btnSearchObra" class="btn btn-raised btn-primary btn-block">Generar</button>
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control" id="rptAuxServicio" placeholder="Enter Id AuxServicio">
        </div>
        <div class="col-md-2">
            <button type="button" id="btnSearchServ" class="btn btn-raised btn-primary btn-block">Generar</button>
        </div>

    </div>

    <div class="row" id="divReport">
    </div>

</body>
</html>

@section scripts
{
    <script src="~/Scripts/jquery-2.1.1.min.js"></script>
    <script>
        $(function () {
            $('#btnSearchObra').click(function () {

                var rptAuxObra = $("#rptAuxObra").val();

                //ASPX page URL to load report
                var src = '../Reportes/rptViewer.aspx?';
                //We can add parameters here
                src = src + "rptAuxObra=" + rptAuxObra

                //We can append more than one parameter like below
                //var companyId = 1
                //src = src + "compnayID=" + companyId

                //Create a dynamic iframe here and append this to div tag
                var iframe = '<iframe id="myReportFrame" width="100%" height="800px" scrolling="no" frameborder="0" src="' + src + '" allowfullscreen></iframe>';
                $("#divReport").html(iframe);
            });
        });

    </script>

    <script>
        $(function () {
            $('#btnSearchServ').click(function () {

                var rptAuxServicio = $("#rptAuxServicio").val();

                //ASPX page URL to load report
                var src = '../Reportes/rptViewer.aspx?';
                //We can add parameters here
                src = src + "rptAuxServicio=" + rptAuxServicio

                //We can append more than one parameter like below
                //var companyId = 1
                //src = src + "compnayID=" + companyId

                //Create a dynamic iframe here and append this to div tag
                var iframe = '<iframe id="myReportFrame" width="100%" height="800px" scrolling="no" frameborder="0" src="' + src + '" allowfullscreen></iframe>';
                $("#divReport").html(iframe);
            });
        });

</script>
}