
@{
    ViewBag.Title = "Información Auxiliar Servicios";
}

<br />

<form>
    <table style="width:30%">
        <tr>
            <th>Fecha Desde</th>
            <th>Fecha Hasta</th>
            <th></th>
        </tr>
        <tr>
            <td><input type="date" name="fDesde"></td>
            <td><input type="date" name="fHasta"></td>
            <td><input type="button" value="Consultar" name="btnConsultar"></td>
        </tr>
    </table>
</form>
<br />
<div>
    <table id="jqGridAux"></table>
    <div id="jqGridAuxPag"></div>
</div>

@section scripts
{

    @*<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />*@
    <link href="~/Content/themes/cupertino/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/jquery.jqGrid/ui.jqgrid.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
    <script src="~/Scripts/i18n/grid.locale-es.js"></script>
    <script src="~/Scripts/jquery.jqGrid.min.js"></script>
    <script src="~/Scripts/scriptAuxObra.js"></script>
    <script type="text/javascript">

    </script>
}